body { margin:0; padding:0; }
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

#titlebar {
    position: fixed;
    top: 75px;
    width: 235px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: darkgray;
    opacity: 0.5;
    height: 300px;
    z-index: 999;
    border: 1px solid black;
    color: black;
    text-align: right;
    padding-right: 3px;
}

#author {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1250;
    font-size: 12px;
    width: auto;
    height: auto;
    background-color: white;
    color: black;

}

#sidebar{
    position: fixed;
    top: 75px;
    width: 235px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: darkgray;
    opacity: 0.5;
    height: 300px;
    z-index: 999;
    border: 1px solid black;
    color: black;
    text-align: right;
    padding-right: 3px;
}

#qpSidebar {
    position: fixed;
    right: 0;
    bottom: 75px;
    width: 235px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: darkgray;
    opacity: 0.5;
    height: 175px;
    z-index: 999;
    border: 1px solid black;
    color: black;
    text-align: right;
    padding-right: 3px;
}

#qpfButton {
    position: fixed;
    right: 20px;
    bottom: 100px;
}

#qpeButton {
    position: fixed;
    right: 20px;
    bottom: 170px;
}


#showHideTorn{
    position: fixed;
    top: 100px;
}

#showHideHail{
    position: fixed;
    top: 150px;
}

#showHideWind{
    position: fixed;
    top: 200px;
}

#showHideEarthquake{
    position: fixed;
    top: 250px;
}

#showHideButton{
    position: fixed;
    top: 300px;
}

.showButton{
    font-family: Arial;
    width: 175px;
    text-align: center;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 0 5px #999999;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 20px;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    z-index: 1000;
    cursor: pointer;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.precipButton {
    font-family: Arial;
    width: 175px;
    text-align: center;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 0 5px #999999;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    right: 20px;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    z-index: 1000;
    cursor: pointer;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.showButton:hover{
    background-color: #666666;
}

.precipButton:hover{
    background-color: #666666;
}

.precipButton:active{
    transform: translateY(3px);
    box-shadow: 0 2px #666
}
.showButton:active{
    transform: translateY(3px);
    box-shadow: 0 2px #666
}

#legend {
    font-family: Arial;
    text-align: center;
    padding: 10px;
    background-color: rgba(128, 128, 128, .5);
    border: 1px solid rgba(0, 0, 0, .5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgba(255, 255, 255, .87);
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 1000;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#header {
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
}

.qpImage {
    z-index: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#qpe {
    visibility: hidden;
}
#qpf {
    visibility: hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 1;
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    z-index: 1200;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    cursor: default;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: gray;
    top: -5px;
    left: 105%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}